.largeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.barContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.header {
    font-family: Lexend Deca;
    font-size: 40px;
}

.subHeader {
    font-family: Lexend Deca;
    font-size: 20px; 
}

.inputting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    width: 1000px;
}

.input {
    width: 225px;
    height: 30px;
    border-radius: 100px;
    border: 1px black solid;
    text-decoration: none;
    font-family: Lexend Deca;
    text-indent: 15px;
    font-size: 14px;
}

.metricContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.projection {
    margin-top: 5rem;
}

.metrics {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    height: 150px;
    margin-top: 1rem;   
    width: 1000px;
    margin-bottom: 3rem;
}

.topOnes {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.stockInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.projection {
    width: 1200px;
}

.roots {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.optionTabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stockDetails {

}

.graph { 
    width: 1100px;
    margin-left: 50px;
}

.reitTable {
    margin-top: 2rem;
}

.searchButton {
    font-size: 14px;
    border: none;
    font-family: Lexend Deca;
    background-color: #FFB93F;
    color: black;
    border-radius: 100px;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.tradingView {
    transform: scale(0.9);
}

.optionTabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
}

.stockDetails {
    margin-top: 50px;
}